<div class="row">
	<div class="main-top"></div>
	<div class="col-xs-6 col-xs-offset-3">
		<p class="title">クイズ編集</p>
		<div class="row">
		    <%= form_for(@question, url: public_question_path) do |f| %>
		    	<div style="margin-bottom: 30px;">
        			<div class="question-image">
        				<label>問題画像<br>
        				       （画像が必要なクイズのみ<br>
        				       選択してください）</label>
        				<%= attachment_image_tag @question, :image, class: "img-square", fallback: "no_image.jpg", size:"300x200" %>
      　				</div>
      				<div style="margin-left: 25%;">
        				<%= f.attachment_field :image %>
        			</div>
    			</div>
		        <div class="form-group">
		    	    <label class="col-xs-2">問題文</label>
		    	    <div class="col-xs-10">
		    	    	<%= f.text_area :content,{class: 'question-form'} %>
		    		</div>
		        </div>
		        <div class="col-xs-10">
		        	<p style="margin-top: 20px;">
		        		＊正解の選択肢には正ボタンにチェックを入れて下さい。
		        	</p>
		        </div>
		        <%= f.fields_for :choices do |i| %><!--choiceテーブルに保存-->
		        
		        <div class="form-group row">
		        	<div class="col-xs-2" style="margin-left: 15px; ">
		        		<%= i.label :sentence, "選択肢#{i.index+1}" %>
		        	</div>
		        	<div class="col-xs-7">
		        		<%= i.text_area :sentence,{class: 'choice-form'} %>
		        	</div>
		        	<div class="col-xs-2">
		        		<%= i.radio_button :is_answer, :true %>
			        	<%= i.label :is_answer, "正" %>
			        	<%= i.radio_button :is_answer, :false %>
			        	<%= i.label :is_answer, "誤" %>
			        </div>
		        </div>
		        <% end %>

		        <div class="form-group">
		        	<div class="col-xs-2">
		        		<%= f.label :comment, "解説" %>
		        	</div>
		        	<div class="col-xs-10">
		        		<%= f.text_area :comment,{class: 'question-form'} %>
		        	</div>
		        </div>
		        <div class="form-group">
		        	<div class="col-xs-2">
		        		<%= f.label :genre_id, "ジャンル" %>
		        	</div>
		        	<div class="col-xs-5">
		        		<%= f.collection_select(:genre_id, Genre.all, :id, :name, promote: "選択してください") %>
		        	</div>
		        </div>
		        <div class="form-group col-xs-10" style="margin-top: 30px;">
		        	<%= f.submit "申請する",{class: 'btn btn-primary'} %>
		        </div>
		    <% end %>
	    </div>
	</div>
</div>
<div class="main-bottom"></div>

<script type="text/javascript">
$(function(){
    // inputのidから情報の取得
    $('#question_image').on('change', function (e) {
// ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        console.log(e.target.result)
        $(".image").attr('src', e.target.result);
    }
// ここまで
    reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
});
});

</script>