<div class="row">
	<div class="main-top"></div>
	<div class="col-xs-2 col-xs-offset-1" style="margin-top: 30px">
		<div>
			<%= search_form_for(@q, url:public_questions_search_path) do |f| %>
			    <div>
					<%= f.search_field :content_cont %>
				</div>
				<div>
					<%= f.submit "検索" %>
				</div>
			<% end %>
		</div>
		<div style="margin-top: 20px;">
			<strong style="font-size: large;">ジャンル検索</strong>
		</div>
		<% @genres.each do |genre| %>
			<div class="col-xs-12">
				<%= link_to public_genre_questions_path(genre) do %>
				<div class="genre-name"><%= genre.name %></div>
	    		<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-6" style="margin-top: 30px;">
		<P class="title">新着クイズ一覧</P>
		<div>
			<% @question.each do |question| %>
			    <div class="question-solve">
			    	<div>
    					<%= attachment_image_tag question, :image, class: "img-square", size:"300x200" %>
					</div>
			    	<div class="question-content">
			    		Q.
			    		<%= question.content %>
			    	</div>
			    	<div>
			    		<% question.choices.each do |choice| %>
			    			<div class="check btn btn-info btn-block question-choice">
			    		    	<%= choice.sentence %>
			    		    	<% if choice.is_answer == true %>
			    		    	<div style="margin: 0 0 0 auto;">正答</div>
			    		    	<% end %>
			    		    </div>
			    		<% end %>
			    	</div>
			    	<div class="row">
			    		<div class="question-genre col-xs-3">
			    			<%= question.genre.name %>
			    		</div>
			    	</div>
			    	<div class="comment question-comment">
			    		<!-- 自分で作ったクイズの解説は非表示しない -->
			    		解説<br>
			    		<%= question.comment %><br>
			    		<%= link_to "編集する", edit_admin_question_path(question), {class: 'btn btn-success'} %>
			    		<%= form_for [:admin, question] do |f| %>
						<%= f.select :is_allowed, Question.is_alloweds.keys.to_a %>
						<%= f.submit '更新' , {class: 'btn btn-primary'} %>
						<% end %>
			    	</div>
			    </div>
			<% end %>
			<%= paginate @question %>
		</div>
	</div>
</div>
<div class="main-bottom"></div>