<div>
	<div>
		<p>新規クイズ作成</p>
		<div>
		    <%= form_for(@question, url: admin_questions_path) do |f| %>
		        <div>
		    	    <%= f.label :content, "問題文" %>
		    	    <%= f.text_area :content %>
		        </div>
		        <P>
		        	正解の選択肢には正答ボタンにチェックを入れて下さい。
		        </P>
		        <%= f.fields_for :choices do |i| %><!--choiceテーブルに保存-->
		        
		        <div>
		        	<%= i.label :sentence, "選択肢#{i.index+1}" %>
		        	<%= i.text_area :sentence %>
		        	<%= i.radio_button :is_answer, :true %>
			        <%= i.label :is_answer, "正答" %>
		        </div>
		        <% end %>
		        <div>
		        	<%= f.label :comment, "解説" %>
		        	<%= f.text_area :comment %>
		        </div>
		        <div>
		        	<%= f.label :genre_id, "ジャンル" %>
		        	<%= f.collection_select(:genre_id, Genre.all, :id, :name, promote: "選択してください") %>
		        </div>
		        <div>
		        	<%= f.submit "作成する" %>
		        </div>
		    <% end %>
	    </div>
</div>