<!DOCTYPE html>
<html>
  <head>
    <title>TheForestOfQuiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-fixed-top">
      <% if request.fullpath.include? "admin" %><!--　管理者なら -->
        <%= render 'layouts/admin_header' %>
      <% else %><!--　会員なら -->
        <%= render 'layouts/customers_header' %>
      <% end %>
    </header>
    <main>
      <div style="margin-top: 83px"></div>
      <div class="container" style="width: 100%;">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
